.div1{
    background-color: red;
    text-align: center;
}

.header1{
    background-color: blue;
    text-align: center;
}

.section1{
    background-color: yellow;
    text-align: center;
}

.article1{
    background-color: yellow;
    text-align: center;
}

.footer1{
    background-color: green;
    text-align: center;
}

.nav1{
    background-color: orange;
    text-align: center;
}

.textsize{
    font-size: 2rem;
}

h1, h2 {
    margin: 0px;
}

img{
    max-width: 100%;
}

button{
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}